<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Change my password</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% if validlink %}
        <h1>Enter your password</h1>
        <p>Enter your password two times so that we can verify it </p>
        <form method="POST" action="">
            {% csrf_token %}
            <label for="">Change your password:</label>
            {{form.new_password1.errors}} {{form.new_password1}}
            <label for="">Change your password:</label>
            {{form.new_password2.errors}} {{form.new_password2}}

            <button type="submit">Change your password</button>
        {% endif %}    
        </form>    

        
        <script src="" async defer></script>
    </body>
</html>